/*! NOTE: These are just recommended default global styles, edit as required */


//:root {
//  /* Sizes */
//  --nav-height: 4rem;
//  /* Colors */
//  --text-black: #000000;
//  --text-darkgray: rgba(0, 0, 0, 0.75);
//  --text-gray: rgba(0, 0, 0, 0.5);
//  --text-lightgray: rgba(0, 0, 0, 0.3);
//  --text-light: #ffffff;
//  --text-white: #ffffff;
//  --icon-gray: #292d32bf;
//  --border-gray: rgba(0, 0, 0, 0.25);
//  --primary-blue: #0085ff;
//  --primary-green: #77b52a;
//  --backdrop-greyed: rgba(0, 0, 0, 0.25);
//  --secondary-green: #548f1e;
//  --bg-color: #ffffff;
//  --warning-color: #c91c1c;
//  --border-lightgray: rgba(0, 0, 0, 0.05);
//
//  /* Filters */
//  --bg-blur: blur(4px);
//
//  /* Transitions */
//  --transition-quick-len: 0.25s;
//
//  /* Other */
//  --round-sm: 4px;
//  --round-full: 999px;
//
//  /* Overrides */
//  --swiper-pagination-color: var(--primary-green);
//
//  /* Z-indexes */
//  --z-index-navbar: 10;
//  --z-index-modal-backdrop: 20;
//  --z-index-modal: 30;
//}


::selection {
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */

  /* So you can customise your styles below */
  color: rgb(36 36 36);

  /* Optional */

  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  background-color: rgb(249 184 15);
}

html {
  /* Make base font-size 100% of browser font-size */
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  /* Declare your default font stack here */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  font-family: inherit;
  line-height: inherit;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;

  /* For responsive images that adjust & adapt */
  height: auto;

  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
}

a,
button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  width: 100%;

  /* Make the SVGs fit the parent container by default */
  height: 100%;
  color: blue;
  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;

  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentcolor;
}

iframe,
video {
  width: 100%;

  /* Make iframes & videos fit the parent container by default */
  height: 100%;
}
